extends layout
block content
    - let createdestination = `dispatch(\"/Deer/create")`
    button.btn(class="btn-primary m1-1", onclick= createdestination) CREATE A NEW PRODUCT
    h1= title
    - let results1=[{Deer_color:"red",Deer_breed:"White-tailed deer",Deer_price:10000},{Deer_color:"brown",Deer_breed:"Fallow deer",Deer_price:11500},{Deer_color:"yellow",Deer_breed:"Mule deer",Deer_price:9000}]
    div(class="container-fluid")
        div(class="row m-1")
            each item in results
                - let detailestination = `dispatch(\"/Deer/detail?id=${item._id}\")`
                - let updatedestination = `dispatch(\"/Deer/update?id=${item._id}\")`
                - let deletedestination = `dispatch(\"/Deer/delete?id=${item._id}\")`
                div(class="row-sm-2", class="m-1")  #{item.Deer_color} ,#{item.Deer_breed}, #{item.Deer_price}
                    button.btn(class="btn-info ml-1", onclick= detailestination) Detail
                    button.btn(class="btn-warning ml-1", onclick= updatedestination) Update
                    button.btn(class="btn-danger ml-1", onclick= deletedestination) Delete
        script.
            function dispatch(path){
                window.location.href=path
            }
