extends layout
block content
  h1= title
  - let Deerid = toShow._id
  - let Deer_color  = toShow.Deer_color 
  - let Deer_breed = toShow.Deer_breed
  - let Deer_price = toShow.Deer_price
  div
    div.row
      div(class='DeerAttr mr-3') Deer  ID is:
      div #{Deerid}
    div.row
      div(class='DeerAttr mr-3') Deer Color   is:
      div #{Deer_color}
    div.row
      div(class='DeerAttr mr-3') Deer  breed  is:
      div #{Deer_breed}
    div.row
      div(class='DeerAttr mr-3') Deer  price  is:
      div #{Deer_price}
